/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
   border-radius: 40px;
    align-items: center;
    padding: 2px 0;
   
    background-color: white; 
    border-bottom: 4px solid rgb(10, 3, 33);
   }
   .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
   }
   
   
   .nav-links {
    display: flex;
    align-items: center; 
    
    justify-content: space-between;
   }
   
   .nav-links.right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline;
    justify-content: right;
    align-items: center;
    font-weight: bolder;
    font-size:x-large;
    
    
   }
   
   .nav-logo img {
   height: 70px; 
   width: auto;
   }
   
   .nav-links a {
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    color: #181313;
     
   } .a, button {
     padding: 3px 10px;
     border: none;
     font-weight: bold;
     font-size: large;
     background-color: #61777F;
     cursor: pointer;
   } 
   
   
   /* Responsive navbar */
   @media (max-width: 768px) {
   .nav-links {
     display: block;
     width: 100%;
     text-align: center;
     
   }
   
   .nav-links a {
     display: block;
     padding: 10px;
    
   }
   }
   
   .nav-links a:hover {
   
    
    color: #61777F;
   }


   #link-url{
    cursor:pointer;
    color:  #61777F;
    font-size: medium;
  }
  
  body {
   margin: 0;
   padding: 0;
   display: inline;
   font-family: 'Arial', sans-serif;
   color: black;
  
  }

  .card {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#ffffff;
    box-shadow: #ccc;
}
#ndryshoTekstin{
    cursor: pointer;
 
}


#blog-h1 {
  outline: 2px solid black;
  border-radius: 10px;
}


.social-links a {
  margin: 0 10px;
}

.social-links img {
  height: 30px;
  border-radius: 50px;
}
@media only screen and (max-width: 1024px) {
    
    body {
        font-size: 14px;
       
    }
    .music{
        position: initial;
        left:0;
        right:0;
    }
    
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width:500px;  
}
.pa_stil{
    list-style: none;
}
.read-more-text{
display:none;
}
.read-more-text--show{
    display:block;
} 
.read-more-btn{
    color:#0984e3;
    cursor:pointer;
}
table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 20px;
    border-spacing: 3px;
}
td{
    padding: 15px;
    border: 1px solid #ccc;
    background: radial-gradient(#61777fb1, white);

}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);;
}
th {
    background-color:#ccc;
    background: linear-gradient(to right, #ccc,white);
}

