@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    align-items: center;
    padding: 2px 0;

    background-color: rgba(233, 244, 231, 0.4); 
    border-bottom: 4px solid green;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  

.nav-links {
    display: flex;
    align-items: center; 
    
    justify-content: space-between;
}

 .nav-links.right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    display:inline;

    justify-content: right;
    align-items: center;
     font-weight: bold; 
    font-size:medium;
    
    
}


.nav-logo img {
  height: 50px;

}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #181313;
     
}
.a, button {
    padding: 0px 10px;
    border: none;
    font-weight: bold;
    font-size: large;
    background-color: #45a049;
    border-radius: 15px;
    cursor: pointer;
}


@media (max-width: 768px) {
   

    .nav-links {
        display: block;
        width: 100%;
        text-align: center;
    }
   
    
        .nav-links a {
            display: block;
           padding:10px;
        } 
    
}

.nav-links a:hover {
    
    
    color: green;
}



.first_col{
    background-color:#cefad0;
    height: 550px;
    position: relative;
    width:550px;
    left: 155px;
    top:171px;
    border-radius: 20px;
  
}
.img-fluid{
    border-radius: 20px;
}
.last_row{  
    width:60% !important ;
    position: relative !important;
left:350px;
top:50px;
height: 200px;
padding-bottom: 100px !important;
background-color:mediumseagreen ;
border-radius: 20px;
}
#send_but{
    background-color:rgba(60, 179, 113,0.5);
    border:black;
    border-radius: 5px;
}
#send_but:hover{
    background-color: rgba(63, 157, 63, 0.3);

}
.form-control{
    height:52px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 2px ;
    box-shadow: none !important;
    border: 1px solid #555;
}

.form-control[type=text]:focus{
border:2px solid #555;

}
@media only screen and (max-width:1000px) {
    .first_col{
        position:initial ;
        left:0;
    }
    .last_row{
        left:0 !important;
        height:480px;
        top:0 !important;
    }
    .last{
        position:initial ;
        left:0;
        right:0;
    }
    .map-container iframe {
        position: initial;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
input[type="submit"]{
    margin-top:30px;
width: 90%;
max-width:200px;
background-color: mediumseagreen;
}
