@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.card {
  border: none;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card-body {
  padding: 2rem;
}

/* Title styling */
h2.card-title {
  color: #333; 
  font-weight: 600;
  margin-bottom: 1.5rem; 
}

/* Input field styling */
.form-control {
  border-radius: 5px; 
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem; 
}

/* Submit button styling */
.btn-primary {
  background-color: #0056b3; 
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.btn-primary:hover {
  background-color: #004494;
}


a:hover {
  text-decoration: underline; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .col-md-6 {
      display: none; 
  }
}